/* ------ Guidelines for Before page ------ */

@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

.before-container {
    width: 70%;
    margin: 0 auto;
}

.dancing {
    font-family: "Dancing Script", serif;
}

.before-h2 {
    /* color: rgb(255, 95, 106); */
    color: rgb(66, 163, 253);
    background-color: inherit;
    margin: 0 auto;
    padding: 10px;
}

.before-content {
    width: 70%;
    margin: 0 auto;
}

.before-p {
    text-align: left;
}

.before-ul {
    text-align: left;
}

.before-traveling {
    color: rgb(66, 163, 253);
    list-style-type: circle;
}

.recommendations {
    list-style-type: circle;
    width: 60%;
}

