.mainDiv {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bucketlist-Container {
  /* background-color: white; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.bucketlist-Item {
  width: 33%;
}

.bucketlist-Item-Destination {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  background-color: rgb(66, 163, 253);
  color: white;
  box-shadow: 5px 5px 3px rgb(194, 204, 226);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0 20px 0 20px;
  margin-right: 175px;
  margin-top: 25px;

}

.bucketlist-Item-Destination:hover + .bucketlist-Item-Planned {
  display: block;
  margin: 0 auto;
  width: 200px;
  overflow: wrap;
}

.bucketlist-Item-Planned {
  display: none;
  text-align: center;
  height: 100px;
  width: 100%;
}

.bucketlist-Item-Destination:hover + .delete-Bucketlist-Button {
  display: block;
  background-color: black;
}



.delete-Bucketlist-Button {
  border-radius: 5px;
  width: 50px;
}

.trash-Icon {
  height: 20px;
  width: 20px;
}

.add-Bucketlist-Div {
  background-color: #999;
  color: white;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  margin: 0 auto;
  width: fit-content;
  border-bottom: 4px solid rgb(66, 163, 253);
  border-radius: 10px;
}

.bucketlist-Todos-Input {
  height: 25px;
  width: 220px;
}

.header {
  color: rgb(66, 163, 253);
}

.add-Bucketlist-Button {
  background: white;
  /* color:rgb(66, 163, 253); */
  /* background:rgb(66, 163, 253); */
  /* color:white; */
  margin-bottom: 10px;
}
