/* ------ Color Scheme ------
        000000 -- black
        FFFCF9 -- offwhite
        F2F2F2 -- light grey
        1B4CFE -- royal blue
        E6E6FA -- light lavender
    ------ End Color Scheme------ */

html {
  text-align: center;
  justify-content: flex-start;
  align-items: center;
}

.cardHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px;
  margin: 0 auto;
}

.card {
  width: 300px;
  height: auto;
  margin: 5px;
  padding: 10px;
  overflow: scroll;
  border: 2px solid #E6E6FA;
}

.card img {
  width: 300px;
  height: 300px;
}

.pic {
  height: 75%;
  width: 75%;
  border-bottom: 4px solid rgb(66, 163, 253);
}