.cardHolder {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border: 1px solid rgba(2, 45, 65, 0.5);
  padding: 20px;
}

.card {
margin: 10px;
width: 23%;
margin-top:40px;
}

.pic {
  border-radius: 50%;
  height:120px;
  width: 120px;
  border: 1px solid rgba(2, 45, 65, 0.5);
}

/*  
*/