/* ------ Color Scheme ------
        000000 -- black
        FFFCF9 -- offwhite
        F2F2F2 -- light grey
        1B4CFE -- royal blue
        E6E6FA -- light lavender
        rgb(66, 163, 253) -- twitter blueish
    ------ End Color Scheme------ */
/* The Modal (background) */
/* .ReactModal__Body--open{
  position: absolute;
  width: 40%;
} */


.modal {
  
  position: fixed; /* Stay in place */
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
 
  
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
 
     display: grid;
  grid-template-columns:25% 25% 20% 10% 10% 10%   ;
  grid-template-rows: 100%; 
      
}


.close{
  color: #aaaaaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
}
/* .ReactModal__Content, .ReactModal__Content--after-open {
  position: absolute;
} */


/* div {
  display: block;
} */

/* .modal {
  width: 100%;
  position: absolute;
}
.modal-content {
  width: 60%;
} */

/* .sidebar {
  height: 80px;
  background-color: rgba(66, 163, 253, 0.3);
  color: #DAECF3;
  opacity: .9;
  display: grid;
<<<<<<< HEAD
  grid-template-columns:20% 20% 25% 15% 10% 10%   ;
  grid-template-rows: 100%;
  align-content: space-evenly

  
} */

 .search-input,
.search-input:focus,
.search-input:active {
  height: 35px;
  width:20%;
  
     
 
=======
  grid-template-columns:20% 20% 30% 10% 10% 10%   ;
  grid-template-rows: 100%;
  grid-column-gap: 0.1em;
}

.pointer{
  cursor: pointer;
}

.DateInput_input{
  padding: 0;
}

.search-input,
.search-input:focus,
.search-input:active {
  height: 35px;
  width:200px;
>>>>>>> 4d77c6ab44d21a289d049496733b62c1382eff2f
}

.location{
  grid-column: 1;
  grid-row: 1;
  align-self: center;
<<<<<<< HEAD
  width:80%
=======
>>>>>>> 4d77c6ab44d21a289d049496733b62c1382eff2f
}

.destination {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
<<<<<<< HEAD
  width:80%
  

=======
>>>>>>> 4d77c6ab44d21a289d049496733b62c1382eff2f
}



.travelDates{
  grid-column: 3;
  grid-row: 1;
  align-self: center;
<<<<<<< HEAD
  
 

=======
>>>>>>> 4d77c6ab44d21a289d049496733b62c1382eff2f
}  

.ages{
  grid-column: 4;
  grid-row: 1;
  align-self: center;
<<<<<<< HEAD

}  


.applyfilterBtn{
  grid-column: 5;
  grid-row: 1;
  align-self: center;

}  
.clearfilterBtn{
  grid-column: 6;
  grid-row: 1;
  align-self: center;

}  

/* .search-input{
  margin-top:5px
} */

/*.DateInput_input DateInput_input_1{
  padding-right:0
}
.DateRangePickerInput{
  width:100%
} */


/*
.cursor {
  cursor: pointer;
} */

/* .buttondiv {
  grid-column: 5;
  grid-row: 1;
  align-self: center; 
} */

/* .filterBtn{
  background-color: #E6E6FA;
  color: #000;
  align-self: end; */
/* grid-column: 5/6;
  grid-row: 1; */
/* padding-top:1%;
  grid-column: 5;
}
.clearfilterBtn {
  grid-column: 6;
  margin-right: 40px
}
*/
=======
}  


.applyfilterBtn{
  grid-column: 5;
  grid-row: 1;
  align-self: center;
}  
.clearfilterBtn{
  grid-column: 6;
  grid-row: 1;
  align-self: center;
}  

>>>>>>> 4d77c6ab44d21a289d049496733b62c1382eff2f


/* margin: 2%; */

<<<<<<< HEAD
/*
::placeholder { Chrome, Firefox, Opera, Safari 10.1+
  color: #CCC; 
 opacity: 1; Firefox
} */
/* 
=======

>>>>>>> 4d77c6ab44d21a289d049496733b62c1382eff2f
@media screen and (max-width: 632px) {

.sidebar {
  height: 400px;
  display: grid;
  grid-template-columns: 100% ;
  grid-template-rows:20% 20% 30% 10% 10% 10% ;
  grid-row-gap: 0.1em;
}
.location{
  grid-column: 1;
  grid-row: 1;
  align-self: center;
}

.destination {
  grid-column: 1;
  grid-row: 2;
  align-self: center;
}



.travelDates{
  grid-column: 1;
  grid-row: 3;
  align-self: center;
}  

.ages{
  grid-column: 1;
  grid-row: 4;
  align-self: center;
}  


.applyfilterBtn{
  grid-column: 1;
  grid-row: 5;
  align-self: center;
}  
.clearfilterBtn{
  grid-column: 1;
  grid-row: 6;
  align-self: center;
}  

<<<<<<< HEAD
@media screen and (max-width: 480px) {
  .search-input,
  .search-input:focus,
  .search-input:active {
    height: 30px;
    width:100%;
  }
=======
>>>>>>> 4d77c6ab44d21a289d049496733b62c1382eff2f

} */
