/* 
#DAECF3 white
#FE424D coral red
#1AA6B7 light blue
#022D41  dark blue
*/
.sidebar {
  height: 200px;
  background-color: #022D41;
  color: #DAECF3;
  padding: 1em;
  border-radius: 0px 0px 0px 0px;
  opacity: .9;
  border: 1px solid rgba(2, 45, 65, 0.5);
  font-size: 15px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex: row;
  overflow: none;
}
.destination {
  margin-top:100px;
  background-color: #1aa6b7;
  height: 100px;
}

.dates{
  background-color: #1aa6b7;
  height: 100px;
}
.location{
  background-color: #1aa6b7;
  height: 100px;
}

.ages{
  background-color: #1aa6b7;
  color: #DAECF3;
  margin-left: auto;
  height: 100px;
}

.cursor {
  cursor: pointer;
}

.filterBtn{
  background-color: #FE424D;
  color: #DAECF3;
  padding: 5px;
  margin: 10px 7px 11px 7px;
  opacity: 0.9; 
  border: 10px solid #DAECF3;
  border-radius: 5px;
  font-size: 16px;
}
