/*
This handles not only the login css but also the register css
*/

.register-survey-container{
    background-color: #DAECF3;
    padding: 1em;
    opacity: .9;
    border: 1px solid rgba(2, 45, 65, 0.5);
    border-radius: 0px 0px 5px 5px;
  }

  .register-user-container{
    background-color: #DAECF3;
    border-radius: 0px 0px 5px 5px;
    padding: 1em;
    opacity: .9;
    border: 1px solid rgba(2, 45, 65, 0.5);
    height: 700px;
    background-image:  
    url("../Images/frontPage.gif");
    background-repeat: no-repeat;
    background-size:     cover;                   
    background-position: center center;  
  }

  .login-user-container{
    padding: 1em;
    opacity: .9;
    border: 1px solid rgba(2, 45, 65, 0.5);
    background-color: #DAECF3;
    border-radius: 0px 0px 5px 5px;
    height: 700px;
    background-image:  
    url("../Images/frontPage.gif");
    background-repeat: no-repeat;
    background-size:     cover;                   
    background-position: center center;  
  }

  .surveyBtn{
    background-color: #FE424D;
    color: #DAECF3;
    padding: 1px;
    margin: 7px 7px 7px 7px;
    opacity: 0.9; 
    border: 10px solid #DAECF3;
    border-radius: 5px;
    font-size: 15px;
  }


#navLogoName{
    color: #022D41;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    text-shadow: 0px 2px 3px rgb(255, 255, 255),
    0px 4px 13px rgba(0,0,0,0.1),
    0px 9px 23px rgba(0,0,0,0.1);
}

.sitefont{
    color: #022D41;
    text-align: center;
}

.login-box{
    justify-content: space-around;
    display: flex;
    flex-wrap: nowrap;
}
.registerBox{
    justify-content: space-around;
    display: flex;
    flex-wrap: nowrap;
}


.usernameBox{
    padding: 5px;
    margin: 7px 7px 7px 7px; 
    opacity: 0.9; 
    border: 10px solid #DAECF3;
    border-radius: 5px;
    font-size: 16px;
    width: 25%;  
    height: 25px; 
 
}

.emailBox {
    padding: 5px;
    margin: 7px 7px 7px 7px; 
    opacity: 0.9; 
    border: 10px solid #DAECF3;
    border-radius: 5px;
    font-size: 16px;
    width: 20%;  
    height: 25px; 

}

.passwordBox{
    padding: 5px;
    margin: 7px 7px 7px 7px;
    opacity: 0.9; 
    border: 10px solid #DAECF3;
    border-radius: 5px;
    font-size: 16px;
    width: 20%;  
    height: 25px; 

}

.loginBtn{
    background-color: #FE424D;
    color: #DAECF3;
    padding: 5px;
    margin: 10px 7px 11px 7px;
    opacity: 0.9; 
    border: 10px solid #DAECF3;
    border-radius: 5px;
    font-size: 16px;
  }

  .smaller-box{
    color: #022D41;
    font-size: 16px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    opacity: 0.9;
    border-radius: 5px;
  }
  .smaller-box span{
    background-color: #DAECF3;
  }

  
@media screen and (max-width: 932px) {
    .register-user-container{
        height: 600px;  
      }
      .login-user-container{
        height: 600px;  
      }
      .usernameBox{
        width: 80%;
    }
    .emailBox{
        width:80%;
    }
    .passwordBox{
        width:80%;
    }
    .loginBtn{
        width:80%;
    }
}

@media screen and (max-width: 632px) {
    .register-user-container{
        height: 550px;  
      }
      .login-user-container{
        height: 550px;  
      }
      .registerBox{
        justify-content: space-around;
        display: flex;
        flex-direction: column;
    }
    .usernameBox{
        width: 80%;
    }
    .emailBox{
        width:80%;
    }
    .passwordBox{
        width:80%;
    }
    .loginBtn{
        width:80%;
    }
}

@media screen and (max-width: 480px) {
    .register-user-container{
        height: 500px;  
      }
    .login-user-container{
        height: 500px;  
      }
      form{
        justify-content: space-around;
        display: flex;
        flex-direction: column;
    }
    .usernameBox{
        width: 80%;
    }
    .emailBox{
        width:80%;
    }
    .passwordBox{
        width:80%;
    }
    .loginBtn{
        width:80%;
    }
}