

.messages-parent-container{
    background-color: #DAECF3;
    color: #022D41;
    width: 80%;
    height: 600px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.messages-header {
    width: 100%;
    margin: 0 auto;
    left: 0;
    text-align: center;
    padding: 10px 0 10px 0;
    color: #DAECF3;
    background-color: #022D41;
    box-shadow: 0 4px 5px -2px #022D41;
    margin-bottom: 10px;
}

.messages-threads-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.messages-threads-list {
    background-color: #022D41;
    width: 20%;
    height: fit-content;
    padding: 5px;
    color: #DAECF3;
}
.messages-single-thread {
    padding: 5px;
    margin: 5px;
    overflow: hidden;
    text-align: center;
}
.messages-single-thread:hover {
    color: #FE424D;
    transition: 0.5s;
}


.messages-thread-content {
    padding: 0 0 10px 10px;
    width: 100%;
}
.messages-chat-header {
    font-size: 1.5rem;
    color: #FE424D;
    border-bottom: 1px solid #1AA6B7;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.messages-thread-body {
    padding: 0 10px 10px 10px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    height: 90%;
    overflow: scroll;
}
.messages-other-user {
    background-color: rgba(254, 66, 79, 0.164);
    width: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 10px;
}
.messages-self {
    text-align: right;
    width: auto;
    margin-left: auto;
    padding: 5px;
    text-align: right;
    background-color: rgba(26, 167, 183, 0.164);
    border-radius: 10px;
}

.messages-thread-form {
    padding: 5px;
}
.messages-input,
.messages-submit {
    padding: 10px;
    font-size: 1rem;
    background-color: #022D41;
    color: #DAECF3;
    border: 1px solid #022D41;
    box-shadow: 0 4px 5px -2px #022D41;
}
.messages-input:hover,
.messages-submit:hover {
    background-color: #1AA6B7;
    color: #DAECF3;
}
.messages-input {
    width: 85%;
    margin-left: 5px;
    height: 20%;
}
.messages-submit {
    width: 10%;
    height: 22%;
    margin-left: 1px;
}

.bold {
    font-weight: bold;
}
.timestamp {
    font-style: italic;
    font-size: 0.5rem;
}

