    /* ------ Color Scheme ------
        000000 -- black
        FFFCF9 -- offwhite
        F2F2F2 -- light grey
        1B4CFE -- royal blue
        E6E6FA -- light lavender
        rgb(66, 163, 253) -- twitter blueish
    ------ End Color Scheme------ */

.messages-parent-container{
    /* color: #022D41; */
    width: 70%;
    height: 600px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.messages-header {
    width: 100%;
    margin: 0 auto;
    left: 0;
    text-align: center;
    padding: 10px 0 10px 0;
    color: rgb(66, 163, 253);
    /* border-bottom: 4px solid rgb(66, 163, 253); */
    margin-bottom: 10px;
}

.messages-threads-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.messages-threads-list {
    width: 20%;
    height: fit-content;
    padding: 5px;
    color: #DAECF3;
    border-right: 4px solid rgb(66, 163, 253);
}
.messages-single-thread {
    padding: 5px;
    margin: 5px;
    overflow: hidden;
    text-align: center;
}
.messages-single-thread:hover {
    color: #FE424D;
    transition: 0.5s;
}


.messages-thread-content {
    padding: 0 0 10px 10px;
    width: 100%;
}
.messages-chat-header {
    font-size: 1.5rem;
    border-bottom: 1px solid rgb(66, 163, 253);
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.messages-thread-body {
    padding: 0 10px 10px 10px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    height: 90%;
    overflow: scroll;
}
.messages-other-user {
    background-color: rgba(254, 66, 79, 0.164);
    width: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 10px;
}
.messages-self {
    text-align: right;
    width: auto;
    margin-left: auto;
    padding: 5px;
    text-align: right;
    background-color: #E6E6FA;
    border-radius: 10px;
}

.messages-thread-form {
    padding: 5px;
}
.messages-input,
.messages-submit {
    padding: 10px;
    font-size: 1rem;
    background-color: #E6E6FA;
    color: rgb(66, 163, 253);
    border: 1px solid #E6E6FA;
    box-shadow: 0 4px 5px -2px #000;
}
.messages-input:hover,
.messages-submit:hover {
    background-color: #CCC;
    color: #000;
}
.messages-input {
    width: 85%;
    margin-left: 5px;
    height: 20%;
}
.messages-submit {
    width: 10%;
    height: 22%;
    margin-left: 1px;
}

.bold {
    font-weight: bold;
}
.timestamp {
    font-style: italic;
    font-size: 0.5rem;
}

