/*
The top navigation bar..thats everywhere
*/

.top-nav-bar{  
    height: 100px;
    background-color: #FE424D;
    color: rgb(84, 138, 160);
    padding: 1em;
    border-radius: 25px 25px 0px 0px;
    opacity: .9;
    border: 1px solid rgba(2, 45, 65, 0.5);
    font-size: 15px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
  }
  .top-nav-bar-left{
    height: 100px;
  }

  .top-nav-bar-left img{
    height: 100%;
    width: 100%;
  }

  .top-nav-bar-left2{
    height: 100px;
  }
  
  .top-nav-bar-right{
   color: #DAECF3;
   margin-left: auto;
  }
  

 /* 
@media screen and (max-width: 932px) {
    .top-nav-bar {
        transform: scale(0.95);
    }

}
*/
@media screen and (max-width: 632px) {
    .top-nav-bar-left2{
        display: none;
      }
}

@media screen and (max-width: 480px) {
    .top-nav-bar-left2{
        display: none;
      }

}


