
/* Guidelines for Nav bar and Footer */
    /* ------ Color Scheme ------
        000000 -- black
        FFFCF9 -- offwhite
        F2F2F2 -- light grey
        1B4CFE -- royal blue
        E6E6FA -- light lavender
        rgb(66, 163, 253) -- twitter blueish
    ------ End Color Scheme------ */


@import url("https://fonts.googleapis.com/css?family=Dancing+Script");

/* ------ Top Nav Bar ------ */
.top-nav-bar {
  background-color: rgb(66, 163, 253);
  height: 50px;
  padding: 1em;
  opacity: 0.9;
  font-size: 18px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  border-bottom: 10px solid #E6E6FA;
}
.top-nav-bar-icon {
  height: 50%;
  width: 50%;
}

.top-nav-bar-left {
  text-align: center;
}
.top-nav-bar-left img {
  height: 60%;
  width: 60%;
}
.feathers {
  font-family: "Dancing Script", serif;
  font-size: 1.6em;
  padding-top: 0;
}

.top-nav-bar-right {

  margin-left: auto;
}

.top-nav-bar a {
  color: #E6E6FA;
  margin-right: 10px;
}
.top-nav-bar a:hover {
  color: #000;
}


/* ------ Footer ------ */
footer {
  height: auto;
  width: 100%;
  font-size: 0.8em;
  text-align: center;
  border-top: 4px solid #E6E6FA;
  background-color: #FFFCF9;
  position: fixed;
  padding: 5px 0 5px 0;
  bottom: 0;
  color: black;
  margin: 0 auto;
}
footer a {
  color: #555;
}
/* footer a:hover {
  color: #1B4CFE;
  border-bottom: 2px solid black;
} */

/* ------ Media Queries ------ */
@media screen and (max-width: 632px) {
  .top-nav-bar-left img {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .top-nav-bar-left img {
    display: none;
  }
}
