/* ------ Guidelines for another user's profile ------ */

.message-button:visited {
  color: #000000;
  background: white;
}
.message-button:hover {
  color: #fe424d;
}
/* .info {
  padding: 20px;
  background-color: white;
  padding: 1em;
  opacity: 0.9;
} */
.userProfile {
  padding: 20px;
  background-color: white;
  padding: 1em;
  opacity: 0.9;
}
button {
  width: 70px;
}
.redflagBtn {
  color: #fe424d;
}
.addFriend {
  color: #fe424d;
}
.message-button {
  background: white;
  color: black;
}
