/* ------ Guidelines for another user's profile ------ */

.btnLine {
  display: flex;
  flex-direction: row;
}

.addFriend,
.flagBtn,
.message-button {

}

.addFriend {

}
.noFriend {

}
.flagBtn {

}
.addFlag{

}
.redflagBtn {
  color: #fe424d;
}
.userProfile {
  padding: 20px;
  padding: 1em;
  opacity: 0.9;
}
button {
  width: 70px;
}
.addFriend {
  color: #fe424d;
}
.message-button {
  background: white;
  color: black;
  padding: 5px 0 5px 0;
}
