/* ------ Guidelines for the logged in user's profile ----- */
    /* ------ Color Scheme ------
        000000 -- black
        FFFCF9 -- offwhite
        F2F2F2 -- light grey
        1B4CFE -- royal blue
        E6E6FA -- light lavender
        rgb(66, 163, 253) -- twitter blueish
    ------ End Color Scheme------ */

/* ------ For the top portion of user profile ----- */
.blurb {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 600px;
    margin: 20px auto;
}

.img-container {
    height: 300px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-pic {
    height: 300px;
    width: 300px;
    padding-bottom: 0;
    margin-bottom: 0;
    border: 0;
}

.general-info {
    text-align: left;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
}
.my-name {
    font-size: 2em;
    color: rgb(66, 163, 253);
}
.my-location {
    border-bottom: 1px solid rgb(66, 163, 253);
    height: 50%;
    float: bottom;
}
.my-bio {
    overflow: wrap;
    font-size: 0.8em;
    height: 190px;
    padding: 5px 0 5px 0;
    overflow: scroll;
}

/* ------ Guidelines for Tabs ------ */
.tabs {
    width: 70%;
    margin: 0 auto;
    /* overflow: scroll; */
    margin-bottom: 8%;
    padding: 0;
}
.tab-list {
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    padding: 0;
}
.single-tab {
    width: 33%;
    list-style-type: none;
    margin: 0 auto;  
    border-bottom: 4px solid #E6E6FA;
    border-radius: 5px 5px 0 0;
    padding: 10px;
}
.single-tab:hover {
    border-bottom: 4px solid #CCC;
    background-color: rgb(66, 163, 253);
    transition: 0.5s;
    color: #FFF;
}
.react-tabs__tab--selected {
    background-color: rgb(66, 163, 253);
    border-bottom: 4px solid #CCC;
    color: #FFF;
}
.tab-panel {
    /* background-color: #E6E6FA; */
    
}

/* ------ Guidelines for About ------ */
.attributes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.about-header {
    width: auto;
    background-color: #DDD;
    margin: 20px 0 10px 0;
    padding: 5px;
    border-bottom: 4px solid #E6E6FA;
}

.attributes-true,
.attributes-false {
    width: 23%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
}
.attributes-true {
    background-color: rgb(66, 163, 253);
    color: #FFF;
}
.attributes-false {
    background-color: #CCC;
    color: #999;
}
/* ------ Media Queries ------ */
@media screen and (max-width: 632px) {
    .blurb {
    flex-direction: column;
    }
    .attributes-true,
    .attributes-false {
        width: 35%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        border-radius: 5px;
        size: 0.7em;
    }


  }
  
  @media screen and (max-width: 480px) {
    .top-nav-bar-left img {
    flex-direction: column;
    }
  }