body {
  margin: 0;
  padding: 0;
}

a:link {
  color:#022D41;
  text-decoration: none;
  background-color: #FE424D;

}
  .message :visited   {
  color:black;
  background: white;

 }
 .message :hover {
  color: #FE424D;
  /* background-image: url("https://image.flaticon.com/icons/svg/55/55413.svg") */
 
 
 }

 /* .flagBtn :hover {
  color: #FE424D;
  
} */
a:visited {
  color: #DAECF3;
  background-color: #FE424D;
}

a:hover {
  color: #DAECF3;
  background: #FE424D;
}

a:active {
  color: #1AA6B7;
  background-color: #FE424D;
}


